@media all and (max-width: 1170px) {
  #wrap #main #section1,
  #wrap #main #section2,
  #wrap #main #section3,
  #wrap #main #section4 {
    background-attachment: scroll;
    background-size: auto 100%;
  }
  #wrap #main #section1 h2,
  #wrap #main #section2 h2,
  #wrap #main #section3 h2,
  #wrap #main #section4 h2 {
    font-size: 17.09401709vw;
  }
  #wrap #main #section6 .container .gap .content .left .col-gap h2 {
    font-size: 8.547008547vw;
  }
  #wrap #main #section9 .container .gap article:nth-child(1) h2 {
    font-size: 8.547008547vw;
  }
}
@media all and (max-width: 991px) {
  #wrap #main #section5 .container .gap .content .right .col-gap p {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .content .right .col-gap h2 {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .content .right .col-gap p {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .content ul li {
    width: 50%;
  }
  #wrap #main #section7 .container .gap .content ul li .col-gap {
    padding: 15px;
  }
  #wrap #main #section7.on .container .gap .content ul li:nth-child(even) {
    transform: translateY(0);
  }
  #wrap #main #section7 .container .gap .content ul li .col-gap .img-box .caption-box h3 {
    font-size: 4vw;
  }
  #wrap #main #section9 .container .gap article {
    width: 100%;
  }
  #wrap #main #section9 .container .gap article:nth-child(1) h2 {
    padding: 0 0 60px 0;
    text-align: center;
  }
}
@media all and (max-width: 860px) {
  #wrap #main #section9 .container .gap article {
    width: 100%;
  }
}
@media all and (max-width: 780px) {
  #wrap #header .container .gap nav .mobile {
    display: block;
  }
  #wrap #header .container .gap nav ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #000;
    padding: 10px 20px;
  }
  #wrap #header .container .gap nav ul li {
    margin: 0;
    padding: 7px 0;
  }
  #wrap #header .container .gap nav ul li a {
    font-size: 14px;
    display: inline-block;
  }
  #wrap #main #section5 .container .gap .content .left {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .content .left .col-gap {
    margin: 0 15px;
    padding: 0 0 100px 0;
  }
  #wrap #main #section5 .container .gap .content .left .col-gap h2 {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 12.82051282vw;
  }
  #wrap #main #section5 .container .gap .content .right {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .content .right .col-gap h2 {
    font-size: 3.7vw;
  }
  #wrap #main #section5 .container .gap .content .right .col-gap h2 span {
    transform: translateY(0px);
  }
  #wrap #main #section5 .container .gap .content .right .col-gap h2 span i {
    font-size: 25.64102564vw;
  }
  #wrap #main #section6 .container .gap .content {
    display: block;
  }
  #wrap #main #section6 .container .gap .content .left {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .content .right {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .content ul li {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .content ul li .col-gap {
    padding: 15px;
  }
  #wrap #main #section7 .container .gap .content ul li .col-gap .img-box .caption-box h3 {
    font-size: 8vw;
  }
  #wrap #main #section15 .container .gap .title ul li {
    width: 100%;
    padding: 30px 0 0 0;
  }
  #wrap #main #section15 .container .gap .content form .left-box {
    width: 100%;
  }
  #wrap #main #section15 .container .gap .content form .right-box {
    width: 100%;
  }
  #wrap #main #section15 .container .gap .content form .right-box .col-gap {
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  #wrap #main #section8 .container .gap .content nav ul {
    display: inline-block;
  }
  #wrap #main #section8 .container .gap .content nav ul li {
    margin: 20px 0;
  }
  #wrap #main #section8 .container .gap .content nav ul li a {
    display: inline-block;
  }
  #wrap #main #section9 .container .gap article:nth-child(2) ul li {
    width: 70%;
    margin: 0 auto;
  }
  #wrap #main .section10-14 .container {
    align-items: center;
    display: flex;
  }
  #wrap #main .section10-14 .container .gap {
    height: auto;
  }
  #wrap #main .section10-14 .container .gap .left {
    width: 100%;
  }
  #wrap #main .section10-14 .container .gap .left h2 {
    font-size: 50px;
  }
  #wrap #main .section10-14 .container .gap .right {
    width: 100%;
  }
  #wrap #main .section10-14 .container .gap .right p {
    width: 100%;
    padding: 10px 0 0 0;
    font-size: 14px;
  }
}
@media all and (max-width: 500px) {
  #wrap #main #section9 .container .gap article:nth-child(2) ul li {
    width: 90%;
    margin: 0 auto;
  }
}
@media all and (max-width: 400px) {
  #wrap #main #section9 .container .gap article:nth-child(2) ul li {
    width: 100%;
    margin: 0 auto;
  }
}